/* ********* HEADER ********* */

header {
  width: 100%;
  height: 7.5rem;
  padding: 3.1rem 0;
  background-color: var(--white);
}

.container {
  display: flex;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 10.4rem;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}
.links {
  list-style: none;
  padding: 0 0.5rem;
  font-size: 0.93rem;
  font-weight: 700;
  color: var(--grayish-violet);
}

nav {
  transform: translateX(-50%);
}
.account a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 700;
  color: var(--grayish-violet);
}
.sign-up {
  margin-left: 1.5rem;
  color: var(--white) !important;
}

.btn-lg-round {
  background-color: var(--cyan);
  padding: 13px 40px;
  border-radius: 28px;
}

.btn-round {
  background-color: var(--cyan);
  padding: 8px 23px;
  border-radius: 28px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-nav {
  /* background-color: blue; */
  width: 7vw;
  height: 23px;
}
.line {
  background-color: black;
  height: 0.25rem;
}

/* ************* HERO ************* */
/* ************* HERO ************* */
/* ************* HERO ************* */

.hero {
  background-color: var(--white);
}
.hero-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-bottom: 6rem;
}
.info {
  width: 50%;
}
.hero_image {
  width: 45%;
}
.info_heading {
  font-size: 4rem;
  color: var(--very-dark-blue);
  line-height: 4.6rem;
}
.info p {
  color: var(--grayish-violet);
  margin-bottom: 3rem;
}
.info a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  margin-top: 2rem;
}
.info h1 > span {
  display: block;
}

/* ********* short ******* */
.short {
  background-color: var(--background);
}

form {
  background-image: url(./images/bg-shorten-desktop.svg);
  background-color: var(--dark-violet);
  padding: 52px 65px;
  width: 100%;
  max-width: 100rem;
  transform: translateY(-50%);
  border-radius: 10px;
}

#form {
  display: flex;
  flex-direction: column;
}
.shorten-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.short-link {
  color: var(--cyan);
}
.copy-button {
  background-color: var(--cyan);
  padding: 10px 30px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 15px;
}
.btn-clicked {
  background-color: var(--dark-violet);
  padding: 10px 30px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 15px;
}

input {
  height: 64px;
  border-radius: 9px;
}

input {
  width: 70%;
  font-size: 1rem;
  padding-left: 20px;
}

.lg-rect-btn {
  border-radius: 9px;
  background-color: var(--cyan);
  color: white;
}
form a {
  width: 50%;
  padding: 20px 44px;
  height: 64px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 700;
}

/* STATISTICS */
.stats-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100rem;
}

.stats_line {
  background-color: var(--cyan);
  height: 0.5rem;
  width: 100%;
  position: absolute;
  display: block;
  z-index: -99;
  top: 50%;
}

.stats-info h3 {
  font-size: 2.5rem;
}
.stats-info p {
  color: var(--grayish-violet);
}

.cards {
  position: relative;
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.card2 {
  transform: translateY(15%);
  /* display: none; */
}

.card3 {
  transform: translateY(30%);
}
.card {
  text-align: left;
  /* padding: 2rem 1.7rem; */
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  background-color: var(--white);
  width: 30%;
  border-radius: 5px;
  position: relative;
}

.card p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.card h2 {
  font-size: 1.3rem;
}
.stats-container {
  padding-bottom: 8rem;
  position: relative;
}

.brand {
  background-color: var(--dark-violet);
  /* margin: 0 auto; */
  padding: 2.5rem 2.5rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-60%);
  z-index: 9999;
  position: absolute;
  top: -0.055%;
}

/* BOOST */
.boost-container {
  background-image: url(./images/bg-shorten-desktop.svg);
  background-color: var(--dark-violet);
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5rem 0;
}

.boost-container h3 {
  font-size: 2.5rem;
  color: var(--white);
}

.boost-container a {
  text-decoration: none;
  color: var(--white);
  margin: 0 auto;
  flex-grow: 0;
  margin-top: 1rem;
}

/* FOOTER */

.footer-container {
  background-color: var(--very-dark-blue);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer-nav_links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.footer-nav_links > ul {
  color: var(--white);
  font-weight: 700;
}
.footer-nav_links > ul > li {
  color: var(--background);
  list-style: none;
  font-weight: 100;
}

.footer-nav_links > ul :first-child {
  margin-top: 1rem;
}

.footer-sc {
  margin-right: 1rem;
}

/* ************ RESPONSIVE MEDIA QUERIES ******************* */

/* DESKTOP DEVICES */
@media only screen and (min-width: 992px) {
  /* HIDE MOBILE HAMBURGER ON LARGE DESKTOP */
  .mobile-nav {
    display: none;
  }

  .hero-container {
    min-height: 75vh;
  }
}

/* TABLET SCREEN DEVICES */

@media only screen and (max-width: 768px) {
  .info_heading {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

/* MOBILE SCREEN DEVICES < 600PX */
@media only screen and (max-width: 600px) {
  body {
    background-color: var(--white);
  }
  header {
    padding: 2.5rem 0;
  }

  /* HIDE NAVLINKS ON MOBILE */
  .account {
    display: none;
  }
  .nav-links {
    display: none;
  }

  /* REDUCE PADDING ON SIDES */
  .container {
    padding: 0 2rem;
  }

  /* HERO RESPONSIVENESS */
  .hero-container {
    flex-direction: column-reverse;
    padding-bottom: 8rem;
    height: 150vh;
  }

  .hero_image {
    width: 100%;

    /* min-height: 5vh; */
  }
  .heroimage {
    object-fit: cover;
    height: 100%;
  }
  .info {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }

  .info_heading {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }
  .info p {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  /* FORM */

  form {
    display: flex;
    flex-direction: column;
    padding: 22px 22px;
  }

  form input,
  form a {
    width: 100%;
    margin-left: 0;
  }

  form a {
    margin-top: 10px;
    text-align: center;
  }

  .shorten-link {
    flex-direction: column;
    align-items: unset;
  }
  .long-link {
    font-size: 0.8em;
  }
  .short-link {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
  }

  .copy-button {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }

  .btn-clicked {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }

  /* STATS */
  .stats-container {
    background-color: var(--background);
  }

  .stats-info h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .stats-info p {
    font-size: 1rem;
  }
  .stats-info br {
    display: none;
  }

  .card {
    width: 100%;
    text-align: center;
    z-index: 10000;
  }
  .card p {
    font-size: 1rem;
  }
  .cards {
    flex-direction: column;
    margin: 6rem 0;
  }
  .card2 {
    margin-top: 3rem;
  }
  .brand {
    margin: 0 auto;
    left: 38%;
    right: 50%;
  }
  .card3 {
    margin-top: 3rem;
  }
  .stats_line {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 0.5rem;
    background-color: var(--cyan);
    z-index: 100;
    left: 50%;
  }

  /* BOOST */
  .boost-container h3 {
    font-size: 1.5rem;
  }

  .btn-lg-round {
    padding: 15px 40px;
  }
  .boost-container {
    padding: 2rem 0;
  }
  .boost-container a {
    font-size: 1rem;
  }

  /* FOOTER */
  .footer-container {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
  }

  .footer-nav_links {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
